<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no" >
		<title>
        SymBnB - {% block title %}{% endblock %}
		</title>
		{{ encore_entry_link_tags('css/app') }}
		 {% block stylesheets %}{% endblock %}
		</head>
		<body>
			{% include 'admin/partials/header.html.twig' %}
			{% block body %}{% endblock %}
			{% include 'admin/partials/footer.html.twig' %}

			{{ encore_entry_script_tags('js/app') }}
			<script src="https://kit.fontawesome.com/63e696dbc9.js" crossorigin="anonymous"></script>
			{% block javascripts %}{% endblock %}
		</body>
	</html>
