{% extends "base.html.twig" %}

{% block title %}
Bienvenue sur SymBNB
{% endblock %}

{% block body %}
	<div class="container">
		<div class="jumbotron mt-3">
			<h1 class="display-3">Bienvenue sur SymBNB!</h1>
			<p class="lead">Nous mettons en relations les voyageurs et les propriétaires qui veulent profiter d'opportunités et gagner de l'argent en propoant leur bien à location</p>
			<hr class="my-4">
			<p>Vous êtes voyageurs ? Et vous voulez voir où vous pourrez loger pour votre prochain déplacement ?</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
			</p>
		</div>


		<h2 class="mt-3 mb-4">Nos appartements stars</h2>

		<div class="row">
			<div class="col-md-4">
				<div class="card bg-light mb-3">
					<div class="card-header text-center">
						3 chambres,
						<strong>49&euro; / nuit</strong>
						<br>
						<small>Pas encore noté</small>
					</div>

					<img src="http://placehold.it/1000x400" alt='image' style="height: 200px; width: 100%; display: block">

					<div class="card-body">
						<h4 class="card-title">
							Appartement
						</h4>
						<p class="card-text">
							Sit ipsum consectetur aute ullamco ipsum amet.
							                         Do ut fugiat fugiat aliqua quis elit sit cupidatat velit esse elit.
						</p>
						<a href="#" class="btn btn-secondary">En savoir plus</a>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card bg-light mb-3">
					<div class="card-header text-center">
						3 chambres,
						<strong>49&euro; / nuit</strong>
						<br>
						<small>Pas encore noté</small>
					</div>

					<img src="http://placehold.it/1000x400" alt='image' style="height: 200px; width: 100%; display: block">

					<div class="card-body">
						<h4 class="card-title">
							Appartement
						</h4>
						<p class="card-text">
							Sit ipsum consectetur aute ullamco ipsum amet.
							                         Do ut fugiat fugiat aliqua quis elit sit cupidatat velit esse elit.
						</p>
						<a href="#" class="btn btn-secondary">En savoir plus</a>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card bg-light mb-3">
					<div class="card-header text-center">
						3 chambres,
						<strong>49&euro; / nuit</strong>
						<br>
						<small>Pas encore noté</small>
					</div>
					<img src="http://placehold.it/1000x400" alt='image' style="height: 200px; width: 100%; display: block">

					<div class="card-body">
						<h4 class="card-title">
							Appartement
						</h4>
						<p class="card-text">
							Sit ipsum consectetur aute ullamco ipsum amet.
							                         Do ut fugiat fugiat aliqua quis elit sit cupidatat velit esse elit.
						</p>
						<a href="#" class="btn btn-secondary">En savoir plus</a>
					</div>
				</div>
			</div>
		</div>

        <h2 class="mt-3 mb-4">Nos propriétaires stars</h2>

        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Moyan LEI</h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64X64" alt="moyan" class="float-left mr-3">
                            <p>Cupidatat anim dolor fugiat consectetur id aute labore velit mollit amet Lorem velit proident.</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Moyan LEI</h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64X64" alt="moyan" class="float-left mr-3">
                            <p>Cupidatat anim dolor fugiat consectetur id aute labore velit mollit amet Lorem velit proident.</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Moyan LEI</h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64X64" alt="moyan" class="float-left mr-3">
                            <p>Cupidatat anim dolor fugiat consectetur id aute labore velit mollit amet Lorem velit proident.</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
{% endblock %}
